<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs", { title: "Members only" }) %>
  <body class="grid place-items-center min-h-screen">
    <main class="prose">
        <h1>
            Sign up
        </h1>
        <form action="/register" method="POST">
            <ul>
            </ul>
        </form>
    </main>
  </body>
</html>
