<header class="navbar bg-base-100 shadow-sm px-6">
  <div class="flex-1">
    <a href="/" class="flex items-center gap-4">
      <img src="/images/branding.webp" width="24" height="24" />
      <span class="text-xl">Thoughts</span>
    </a>
  </div>
  <div class="flex-none">
    <a href="/login" role="button" class="btn btn-primary">Log in</a>
  </div>
</header>